*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn{
    padding: 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: green;
    margin: 1rem auto;
    cursor: pointer;
    color: #fff;
    border: 0.1rem solid #fff;
    box-shadow: 2px 2px 2px 2px #333;
    border-radius: 0.3rem;
}
.btn:hover{
    background-color: rgb(10, 238, 10);
}

.game-board{
    width: 100%;
    height: 31.25rem;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 1rem solid rgb(9, 201, 9);
    background-image: linear-gradient(to bottom right, rgb(13, 166, 236), #fff);
}
.mario{
    width: 9.375rem;
    bottom: 0;
    position: absolute;
}
.jump{
    animation: jump 500ms ease-out;
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 5rem;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation {
    from{
        right: -5rem;
    }

    to {
        right: 100%;
    }
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    
    40% {
        bottom: 11.25rem;
    }

    50%{
        bottom: 11.25rem;
    }

    60%{
        bottom: 11.25rem;
    }

    100% {
        bottom: 0;
    }
}
@media (max-width: 700px){
    .pipe{
        animation: pipe-animation 0.9s infinite linear;
    }
}